<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>Hello frinds your can contact to us by emails or just by providing your email we can contact to you</p>
    <form action="/contact" method="POST">
        <input type="text" placeholder="Enter name" name="name">
        <input type="email" placeholder="Enter your Email" name="email">
        <input type="submit" class="btn" value="send">
    </form>
   
<%- include("partials/footer"); -%>
